body {
    margin: 20px;
    text-align: right-center;
}

.authorize {
    border-radius: 5px;
    background-color: #fffacd;
}

.searching {
    border-radius: 5px;
    background-color: #7fffd4;
}

.pay {
    width: 300px;
    background-color: #e0ffff;
    border: 2px solid #000000;
    border-radius: 10px;
}

.delivery {
    width: 200px;
    background-color: #ffb6c1;
    border: 2px solid #000000;
    border-radius: 5px;
}

