@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.image-container {    
    background-image: url("file:///C:/Users/jigal/Downloads/фон_снежинки.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
  }

.main-index {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.text-overlay {
    padding: auto;
}

